spotify-validation-restclient/src/main/java/nl/stijlaartit/spotify/generated
realworld-validation-restclient/src/main/java/nl/stijlaartit/realworld/generated
petstore-validation-restclient/src/main/java/nl/stijlaartit/petstore/generated
